/*index.html*/
body {
    background-color: #ffeff3;
    font-family: 'Oxygen';
    y-overflow: none;
}

.head {
    font-size: 20px;
    text-align: center;
}

.text {
    font-size: 18px;
    padding-left: 5px;
}


::-webkit-scrollbar {
display: none;
}

.nav-wrapper {
    -webkit-app-region: drag;
}

.nav-left {
    float: left;
}

.nav-center {
    display: inline-block;
    float: none;
    align: center;
}

.nav-right {
    float: right;
    -webkit-app-region: no-drag
}

.container-fluid {
    text-align: center;
}


