/*index.html*/
body {
    background-color: #ffeff3;
    font-family: 'Oxygen';
}

.text {
    font-size: 22px;
}

::-webkit-scrollbar {
display: none;
}

.nav-wrapper {
    -webkit-app-region: drag;
}

.nav-left {
    float: left;
}

.nav-center {
    display: inline-block;
    float: none;
    align: center;
}

.nav-right {
    float: right;
    -webkit-app-region: no-drag
}

.container-fluid {
    text-align: center;
}

#help {
    text-align: center;
}
